*.pyc
ShareGISData/obj/*
!ShareGISData/obj/Release
ShareGISData/obj/Release/*
ShareGISData/bin/*
!ShareGISData/bin/Release
ShareGISData/bin/Release/*
!ShareGISData/bin/Release/*.esriAddInX
ShareGISData/bin/Release/GPTools/*
ShareGISData/GPTools/arcpy/dla.gdb/*