*.pyc
ShareGISData/obj/*
ShareGISData/obj/Debug/*
ShareGISData/bin/*
!ShareGISData/bin/Debug
ShareGISData/bin/Debug/*
!ShareGISData/bin/Debug/*.esriAddInX
ShareGISData/bin/Debug/GPTools/*
ShareGISData/GPTools/arcpy/dla.gdb/*